---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
{% if isStaging %}Disallow: /
{% else %}
Allow: /
Disallow: /.netlify/
Disallow: /admin/
Disallow: /*?_gl=
Disallow: /*?fbclid=
Disallow: /*?gclid=

Sitemap: {{ site.url }}/sitemap.xml
{% endif %}
