---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /
Disallow: /.netlify/
Disallow: /admin/
Disallow: /*?_gl=
Disallow: /*?fbclid=
Disallow: /*?gclid=

Sitemap: {{ site.url }}/sitemap.xml
