{%- from "partials/doctor-profile.njk" import credentialHighlight, credentialDisclosure with context -%}
{{- credentialHighlight(locale) | replace('\n', ' ') }} {{ credentialDisclosure(locale) | replace('\n', ' ') -}}
